<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Magazin online specializat în produse de makeup și cosmetice profesionale, oferind branduri de top și tutoriale pentru un look strălucitor.">
        <meta name="keywords" content="makeup, cosmetice, produse, branduri, tutoriale">
        <title>Beauty Hub - eroare</title>
        <link rel="stylesheet" type="text/css" href="/resurse/css/eroare.css">
        <%- include("../fragmente/head.ejs");  %> 


    </head>
    <body>
        
    <%- include("../fragmente/header.ejs");  %> 

    <main>
        <div id="err-coloane">
			<div id="err-imag">
				<img src="<%- locals.imagine %>" />
			</div>
			<section>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>